.bxms-palette .list-group .list-group-item a {
  width: 100px;
}
.bxms-palette .list-group .list-group-item a .fa,
.bxms-palette .list-group .list-group-item a .pficon {
  font-size: 24px;
}
.bxms-palette .list-group .list-group-item .list-group-item-value {
  display: none;
}
.nav-pf-vertical {
  width: auto;
}
.nav-pf-vertical .list-group .list-group-item.active a,
.nav-pf-vertical .list-group .list-group-item:hover a {
  width: 100px;
}
.nav-pf-vertical .list-group .list-group-item.persistent-secondary.active:hover a {
  width: 100px;
}
