// Styles for the BPM Library page

// the list of items in the library
.kie-list-pf-additional-content__attributes {
  display: flex;
  flex-basis: 20em;
  justify-content: flex-start;
  > *:not(:last-child) {
    margin-right: @pf-spacer-md;
  }
}

//toolbar above the list of items
.kie-toolbar-pf__filter {
  flex-basis: 20em;
}
