//@import (reference) "patternfly/dist/less/patternfly.less";
//@import (reference) "patternfly/dist/less/patternfly-additions.less";
//@import (reference) "../node_modules/bootstrap/less/variables.less";
//@import (reference) "patternfly/dist/less/variables.less";
//@import (reference) "patternfly/dist/less/color-variables.less";

@import (reference) "kie-variables";
//@import "editor-toolbar";
//@import "kie-editor";

@fa-font-path: "../node_modules/patternfly/node_modules/font-awesome/fonts";
@font-path: "../node_modules/patternfly/dist/fonts";
@icon-font-path: "../node_modules/patternfly/node_modules/bootstrap/fonts";

// the list of items in the library
.kie-list-pf-additional-content__attributes {
  display: flex;
  flex-basis: 20em;
  justify-content: flex-start;
  > *:not(:last-child) {
    margin-right: @pf-spacer-md;
  }
}


//toolbar above the list of items
.toolbar-pf .form-group {
  //margin-bottom: inherit;
  //margin-top: inherit;
}
.kie-toolbar-pf__filter {
  flex-basis: 20em;
}
