// Styles for the bpm-home page

@import (reference) "kie-variables";

@fa-font-path: "../node_modules/patternfly/node_modules/font-awesome/fonts";
@font-path: "../node_modules/patternfly/dist/fonts";
@icon-font-path: "../node_modules/patternfly/node_modules/bootstrap/fonts";

// layout of the page - flex column so that masthead and footer stick to top/bottom
.kie-page {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  height: 100vh;
  max-height: 100vh;
}
.kie-page__content {
  flex: 1 1 auto;
  overflow-y: scroll;
  //margin: 0;
}
.kie-page__masthead,
.kie-page__footer {
  flex: 0 0 auto;
}
.kie-content--bg-image {
  background-image: url(/images/background--gray1.png);
  background-size: cover;
  .blank-slate-pf {
    background-color: transparent;
    color: @color-pf-white;
  }
  .kie-circle-icon {
    background-color: transparent;
  }
}
.kie-blank-slate {
  display: flex;
  @media (min-width: @screen-md-min) {
    align-items: center;
  }
}

//Secondary actions are in a column at narrow widths and are displayed across the row at wider widths
.blank-slate-pf-secondary-action {
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  > *:not(:last-child) {
    margin-bottom: @pf-spacer-lg;
  }
  @media (min-width: @screen-md-min) {
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    > *:not(:last-child) {
      margin-bottom: 0;
      border-right: 1px solid @color-pf-white;
      padding-left: @pf-spacer-lg;
      padding-right: @pf-spacer-lg;
    }
  }
}

.kie-hero-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  & + .kie-hero-card {
    border-left: 0;
  }
  @media (min-width: @screen-md-min) {
    flex: 0 0 20em;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

  }
  &:hover .btn {
    .btn-primary;
  }
  &:hover .kie-hero-card__icon {
    background-color: @brand-primary;
    color: @color-pf-white;
  }
  //+ .kie-hero-card {
  //  border-left: 2px solid @color-pf-black-100;
  //}
}

.kie-hero-card__icon {
  margin-right: @pf-spacer-md;
  .kie-circle-icon--md;
  @media (min-width: @screen-md-min) {
    margin-right: 0;
    .kie-circle-icon--lg;
  }
}

.kie-hero-card__text {
  flex: 3 0;
  text-align: left;
  @media (min-width: @screen-md-min) {
    flex: 1 1 ;
    text-align: center;
  }
}

.kie-hero-card__action {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  margin-bottom: @grid-gutter-width;
  @media (min-width: @screen-xs-min) {
    flex: 1 1;
    align-items: flex-end;
    width: auto;
    margin-bottom: 0;

  }
  @media (min-width: @screen-sm-min) {
    margin-top: @grid-gutter-width;
  }
}

// Styles for footer
.kie-footer {
  background-color: @color-pf-black-100;
  padding: @pf-spacer-lg;
}
.kie-footer__title {
  font-size: @font-size-h5;
  font-weight: @pf-font-weight-bold;
}
@media (min-width: @screen-sm-min ) {
  .kie-footer__section + .kie-footer__section {
    border-left: 1px solid @color-pf-black-300;
  }
}
.footer__links {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  > *:not(:last-child) {
    margin-right: @pf-spacer-xxl;
  }
}
