// Styles for DROOLS section

// .kie-dataTypesList-modal .tab-content {
//   border-left: 1px solid @color-pf-black-200;
// }

.list-group-item.kie-drools-object-separator {
  border-top-color: @color-pf-black-200 !important;
}

.kie-object-list__field-value {
  font-weight: bold;
}
.kie-object-list__field-label {
  font-weight: normal;
}