// Styles for kie spaces

// show a badge on an active tab differently
.badge {
  .active & {
    background-color: @color-pf-blue-400;
  }
}


// fix up formatting within the toolbar
.kie-search-pf.has-button .form-group {
  display:flex;
  width: auto;
  &:first-child {
    padding-left: 0;
  }
}


// Style a special list-pf-item to be the header of a list
.kie-list-pf-item--header {
  background-color: @color-pf-black-200;
  &:hover {
    background-color: @color-pf-black-200
  }
}
.kie-list-pf-container--header {
  padding-bottom: @pf-spacer-xs;
  padding-top: @pf-spacer-xs;
}
.kie-list-pf-actions--fixed {
  flex-basis: 10em;
  display: flex;
  justify-content: flex-end;
}

.kie-list-pf-select-kb {
  flex-basis: 3em;
  flex-grow: 0;
}
.kie-list-pf-title-kb {
  min-width: 5em;
  max-width: 15em;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}