// KIE Main Less file
// Include kie-main.css in HTML files
// No other less file should import Patternfly because this will cause customizations to be overwritten
// Patternfly or KIE variables might need to be imported by reference so that the variables can be used

@import "../node_modules/patternfly/dist/less/patternfly.less";
@import "../node_modules/patternfly/dist/less/patternfly-additions.less";
//must re-import variables because they've been overwritten by the bootstrap extras in pf-additions
@import "../node_modules/patternfly/dist/less/variables.less";
@import "../node_modules/patternfly/dist/less/color-variables.less";

@fa-font-path: "../node_modules/patternfly/node_modules/font-awesome/fonts/";
@font-path: "../node_modules/patternfly/dist/fonts";
@icon-font-path: "../node_modules/patternfly/node_modules/bootstrap/fonts/";

@import "kie-variables";

@import "styles.less";
@import "palette.less";
@import "kie-yamm.less";
@import "kie-editor.less";
@import "bpm-home.less";
@import "bpm-library.less";
