@import "../node_modules/patternfly/less/patternfly-additions.less";
@import "../node_modules/patternfly/less/variables.less";
@import "../node_modules/patternfly/less/color-variables.less";

@fa-font-path: "../node_modules/patternfly/node_modules/font-awesome/fonts/";
@font-path: "../node_modules/patternfly/dist/fonts";
@icon-font-path: "../node_modules/patternfly/node_modules/bootstrap/fonts/";


// Status colors
.status-ok-bxms {
  color: @color-pf-light-green;
}

//Breadcrumb row
  .breadcrumb>li:first-child a:before {
    color: @color-pf-black-300;
    content: @fa-var-angle-double-left;
    font-family: FontAwesome;
    font-size: (@font-size-base - 1);
    padding: 0 9px 0 7px;

  }
.breadcrumb>li+li:before {
  content:@fa-var-angle-right;
  }

// Toolbars
.row-toolbar-bxms {
  padding: .25em;
  border-collapse: collapse;
}

.toolbar-pf {
  padding-left: 1em;
  padding-right: 1em;
}
.toolbar-pf .form-group:last-of-type {
  border-right: none;
}
//BxMS toolbar has a title
.toolbar-title-bxms {
  font-size: 2em;
  margin-right: 1em;
}
//BxMS toolbar has other items on the right
.toolbar-right-bxms {
  float:right;
}
.toolbar-element-bxms {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

.dropdown-minimal-bxms {
  background: none;
  border: none;
  box-shadow: none;
}

// Title for toolbar inside content section
.toolbar-data-title-bxms {
  display:table-cell;
  float:left;
  font-size: 1.5em;
  margin-right: 1em;
}

// Add space to left of kebab; have to override specificity
.dropdown-kebab-pf {
  margin-left: 1em !important;
}

// Page Content
.page-content-bxms {
  background-color: @color-pf-black-100;
  padding-bottom: 1em;
  padding-top: 1em;
}

// Blank slate
.blank-slate-pf {
  background-color: @color-pf-white;
}

// Makes a big card-looking button
.button-card-bxms {
  background-color: inherit;
  box-shadow: none;
  margin: 1em;
  padding: 1em;
  &:hover {
    box-shadow: 0 2px 3px rgba(3,3,3,.1);
  }
}

// Put a circle around an icon
.circle-icon-bxms {
  border: 2px solid @color-pf-blue;
  font-size: 1.4em;
  height: 2em;
  line-height: 2em;
  margin: 0.5em;
  width: 2em;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
}

// Add this to the .fa-code-fork icon to make the process-flow icon
.fa-process-flow-bxms {
  transform: rotate(90deg);
}

// A link to the right side of a card's title
.card-title-link-bxms {
  float:right;
}

//Change default dl to have a left justified dd
.name-list-bxms dt {
  text-align: left;
}

// Adds a checkbox icon before
// Used for indicating status rather than clickable checkboxes
.checked-bxms {
  &:before {
    content: @fa-var-check-square-o;
    font-family: FontAwesome;
    margin-right: .25em;
  }
}
.unchecked-bxms {
  &:before {
    content: @fa-var-square-o;
    font-family: FontAwesome;
    margin-right: .25em;
  }
}

