@import "../node_modules/patternfly/less/patternfly-additions.less";
@import "../node_modules/patternfly/less/variables.less";
@import "../node_modules/patternfly/less/color-variables.less";

@fa-font-path: "../node_modules/patternfly/node_modules/font-awesome/fonts/";
@font-path: "../node_modules/patternfly/dist/fonts";
@icon-font-path: "../node_modules/patternfly/node_modules/bootstrap/fonts/";

html {
  background-color: @well-bg;
}
//Breadcrumb row
  .breadcrumb>li:first-child a:before {
    color: @color-pf-black-300;
    content: @fa-var-angle-double-left;
    font-family: FontAwesome;
    font-size: (@font-size-base - 1);
    padding: 0 9px 0 7px;

  }
.breadcrumb>li+li:before {
  content:@fa-var-angle-right;
  }
.breadcrumb-bxms {
  background-color: @color-pf-white;
}

// Toolbars
.row-toolbar-bxms {
  padding: .25em;
  background-color: @color-pf-white;
  border-collapse: collapse;
}

.toolbar-pf {
  padding: .5em 1em;
}
.toolbar-pf .form-group:last-of-type {
  border-right: none;
}
//BxMS toolbar has a title
.toolbar-title-bxms {
  font-size: 2em;
}
.toolbar-element-bxms {
  display: inline-block;
}

.toolbar-btn-group-bxms {
  float:right;
  margin-top: .5em;
}

// Title for toolbar inside content section
.toolbar-data-title-bxms {
  display:table-cell;
  float:left;
  font-size: 1.5em;
  margin-right: 1em;
}

// Add space to left of kebab; have to override specificity
.dropdown-kebab-pf {
  margin-left: 1em !important;
}

// Page Content
.page-content-bxms {
  background-color: @well-bg;
  padding-bottom: 1em;
  padding-top: 1em;
}

.main-content-bxms {
  .box-shadow(0 1px 1px fade(@color-pf-black, 17.5%));
}
// Blank slate
.blank-slate-pf {
  background-color: @color-pf-white;
  border: 0px;
}

// Makes a big card-looking button
// hovering on any part of it add a border to the icon
.button-card-bxms {
  background-color: inherit;
  box-shadow: none;
  min-width: 10em;
  padding: 1em;
  &:hover .circle-icon-bxms {
    background-color: @color-pf-black-600;
    color: @color-pf-white;
  }
}

// Put a circle around an icon
// If it's inside a .button-card-bxms it gets a border on :hover
.circle-icon-bxms {
  background-color: @alert-info-bg;
  font-size: 15px;
  font-weight: 400;
  height: 2.5em;
  line-height: 2.5em;
  margin: .5em;
  width: 2.5em;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
}

// Add this to the .fa-code-fork icon to make the process-flow icon
.fa-process-flow-bxms {
  transform: rotate(90deg);
}

// A link to the right side of a card's title
.card-title-link-bxms {
  float:right;
}

//Change default dl to have a left justified dd
.name-list-bxms dt {
  text-align: left;
}

// Adds a checkbox icon before
// Used for indicating status rather than clickable checkboxes
.checked-bxms {
  &:before {
    content: @fa-var-check-square-o;
    font-family: FontAwesome;
    margin-right: .25em;
  }
}
.unchecked-bxms {
  &:before {
    content: @fa-var-square-o;
    font-family: FontAwesome;
    margin-right: .25em;
  }
}

